.u-section-1 .u-sheet-1 {
  min-height: 670px;
}

.u-section-1 .u-table-1 {
  margin-top: 116px;
  margin-bottom: 60px;
  width: 100%;
}

.u-block-ceba-5 {
  background-image: none;
}

.u-block-ceba-37 {
  padding: 0 3px;
}

.u-block-ceba-7 {
  padding: 0 3px;
}

.u-block-ceba-8 {
  padding: 0 3px;
}

.u-block-ceba-9 {
  padding: 0 3px;
}

.u-block-ceba-10 {
  padding: 0 3px;
}

.u-block-ceba-11 {
  padding: 0 3px;
}

.u-block-ceba-12 {
  padding: 0 3px;
}

.u-section-1 .u-table-body-1 {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 0.4;
}

.u-section-1 .u-table-cell-1 {
  background-image: linear-gradient(#808080, black);
  padding: 0 3px;
}

.u-section-1 .u-table-cell-2 {
  background-image: linear-gradient(#f28383, #8b0000);
  font-weight: 700;
  line-height: 0.99;
  padding: 0 3px;
}

.u-section-1 .u-table-cell-3 {
  background-image: linear-gradient(#f28383, #8b0000);
  font-weight: 700;
  line-height: 0.99;
  padding: 0 3px;
}

.u-section-1 .u-table-cell-4 {
  background-image: linear-gradient(#f28383, #8b0000);
  font-weight: 700;
  line-height: 0.99;
  padding: 0 3px;
}

.u-section-1 .u-table-cell-5 {
  background-image: linear-gradient(#f28383, #8b0000);
  font-weight: 700;
  line-height: 0.99;
  padding: 0 3px;
}

.u-section-1 .u-table-cell-6 {
  background-image: linear-gradient(#f28383, #8b0000);
  font-weight: 700;
  line-height: 0.99;
  padding: 0 3px;
}

.u-section-1 .u-table-cell-7 {
  background-image: linear-gradient(#f28383, #8b0000);
  font-weight: 700;
  line-height: 0.99;
  padding: 0 3px;
}

.u-section-1 .u-table-cell-8 {
  background-image: none;
  font-size: 0.75rem;
  padding: 0 3px;
}

.u-section-1 .u-table-cell-9 {
  background-image: none;
  padding: 0 3px;
}

.u-section-1 .u-table-cell-10 {
  background-image: none;
  padding: 0 3px;
}

.u-section-1 .u-table-cell-11 {
  background-image: none;
  padding: 0 3px;
}

.u-section-1 .u-table-cell-12 {
  background-image: none;
  padding: 0 3px;
}

.u-section-1 .u-table-cell-13 {
  background-image: none;
  padding: 0 3px;
}

.u-section-1 .u-table-cell-14 {
  background-image: none;
  padding: 0 3px;
}

.u-section-1 .u-table-cell-15 {
  background-image: none;
  padding: 0 3px;
}

.u-section-1 .u-table-cell-16 {
  background-image: none;
  padding: 0 3px;
}

.u-section-1 .u-table-cell-17 {
  background-image: none;
  padding: 0 3px;
}

.u-section-1 .u-table-cell-18 {
  background-image: none;
  padding: 0 3px;
}

.u-section-1 .u-table-cell-19 {
  background-image: none;
  padding: 0 3px;
}

.u-section-1 .u-table-cell-20 {
  background-image: none;
  padding: 0 3px;
}

.u-section-1 .u-table-cell-21 {
  background-image: none;
  padding: 0 3px;
}

.u-section-1 .u-table-cell-22 {
  background-image: linear-gradient(black, #808080);
  padding: 0 3px;
}

.u-section-1 .u-table-cell-23 {
  background-image: linear-gradient(#075108, #59e156);
  font-weight: 700;
  line-height: 0.99;
  padding: 0 3px;
}

.u-section-1 .u-table-cell-24 {
  background-image: linear-gradient(#075108, #59e156);
  font-weight: 700;
  line-height: 0.99;
  padding: 0 3px;
}

.u-section-1 .u-table-cell-25 {
  background-image: linear-gradient(#075108, #59e156);
  font-weight: 700;
  line-height: 0.99;
  padding: 0 3px;
}

.u-section-1 .u-table-cell-26 {
  background-image: linear-gradient(#075108, #59e156);
  font-weight: 700;
  line-height: 0.99;
  padding: 0 3px;
}

.u-section-1 .u-table-cell-27 {
  background-image: linear-gradient(#075108, #59e156);
  font-weight: 700;
  line-height: 0.99;
  padding: 0 3px;
}

.u-section-1 .u-table-cell-28 {
  background-image: linear-gradient(#075108, #59e156);
  font-weight: 700;
  line-height: 0.99;
  padding: 0 3px;
}

.u-block-ceba-36 {
  padding: 0 3px;
}

.u-block-ceba-28 {
  padding: 0 3px;
}

.u-block-ceba-29 {
  padding: 0 3px;
}

.u-block-ceba-30 {
  padding: 0 3px;
}

.u-block-ceba-31 {
  padding: 0 3px;
}

.u-block-ceba-32 {
  padding: 0 3px;
}

.u-block-ceba-33 {
  padding: 0 3px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-cell-1 {
    border-style: dashed;
  }

  .u-section-1 .u-table-cell-2 {
    border-style: dashed;
  }

  .u-section-1 .u-table-cell-3 {
    border-style: dashed;
  }

  .u-section-1 .u-table-cell-4 {
    border-style: dashed;
  }

  .u-section-1 .u-table-cell-5 {
    border-style: dashed;
  }

  .u-section-1 .u-table-cell-6 {
    border-style: dashed;
  }

  .u-section-1 .u-table-cell-7 {
    border-style: dashed;
  }

  .u-section-1 .u-table-cell-8 {
    border-style: dashed;
  }

  .u-section-1 .u-table-cell-9 {
    border-style: dashed;
  }

  .u-section-1 .u-table-cell-10 {
    border-style: dashed;
  }

  .u-section-1 .u-table-cell-11 {
    border-style: dashed;
  }

  .u-section-1 .u-table-cell-12 {
    border-style: dashed;
  }

  .u-section-1 .u-table-cell-13 {
    border-style: dashed;
  }

  .u-section-1 .u-table-cell-14 {
    border-style: dashed;
  }

  .u-section-1 .u-table-cell-15 {
    border-style: dashed;
  }

  .u-section-1 .u-table-cell-16 {
    border-style: dashed;
  }

  .u-section-1 .u-table-cell-17 {
    border-style: dashed;
  }

  .u-section-1 .u-table-cell-18 {
    border-style: dashed;
  }

  .u-section-1 .u-table-cell-19 {
    border-style: dashed;
  }

  .u-section-1 .u-table-cell-20 {
    border-style: dashed;
  }

  .u-section-1 .u-table-cell-21 {
    border-style: dashed;
  }

  .u-section-1 .u-table-cell-22 {
    border-style: dashed;
  }

  .u-section-1 .u-table-cell-23 {
    border-style: dashed;
  }

  .u-section-1 .u-table-cell-24 {
    border-style: dashed;
  }

  .u-section-1 .u-table-cell-25 {
    border-style: dashed;
  }

  .u-section-1 .u-table-cell-26 {
    border-style: dashed;
  }

  .u-section-1 .u-table-cell-27 {
    border-style: dashed;
  }

  .u-section-1 .u-table-cell-28 {
    border-style: dashed;
  }
}