.u-section-1 .u-sheet-1 {
  min-height: 1005px;
}

.u-section-1 .u-table-1 {
  margin-top: 113px;
  margin-bottom: 60px;
}

.u-block-ceba-5 {
  background-image: none;
}

.u-block-ceba-37 {
  padding: 3px;
}

.u-block-ceba-7 {
  padding: 3px;
}

.u-block-ceba-8 {
  padding: 3px;
}

.u-block-ceba-9 {
  padding: 3px;
}

.u-block-ceba-10 {
  padding: 3px;
}

.u-block-ceba-11 {
  padding: 3px;
}

.u-block-ceba-12 {
  padding: 3px;
}

.u-section-1 .u-table-body-1 {
  font-size: 0.75rem;
}

.u-section-1 .u-table-cell-1 {
  background-image: none;
  font-size: 0.75rem;
  padding: 3px;
}

.u-section-1 .u-table-cell-2 {
  background-image: none;
  font-size: 0.75rem;
  padding: 3px;
}

.u-section-1 .u-table-cell-3 {
  background-image: none;
  padding: 3px;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
  padding: 3px;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
  padding: 3px;
}

.u-section-1 .u-table-cell-6 {
  background-image: none;
  padding: 3px;
}

.u-section-1 .u-table-cell-7 {
  background-image: none;
  padding: 3px;
}

.u-section-1 .u-table-cell-8 {
  background-image: none;
  padding: 3px;
}

.u-section-1 .u-table-cell-9 {
  background-image: none;
  padding: 3px;
}

.u-section-1 .u-table-cell-10 {
  background-image: none;
  padding: 3px;
}

.u-section-1 .u-table-cell-11 {
  background-image: none;
  padding: 3px;
}

.u-section-1 .u-table-cell-12 {
  background-image: none;
  padding: 3px;
}

.u-section-1 .u-table-cell-13 {
  background-image: none;
  padding: 3px;
}

.u-section-1 .u-table-cell-14 {
  background-image: none;
  padding: 3px;
}

.u-block-ceba-36 {
  padding: 3px;
}

.u-block-ceba-28 {
  padding: 3px;
}

.u-block-ceba-29 {
  padding: 3px;
}

.u-block-ceba-30 {
  padding: 3px;
}

.u-block-ceba-31 {
  padding: 3px;
}

.u-block-ceba-32 {
  padding: 3px;
}

.u-block-ceba-33 {
  padding: 3px;
}